# Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular development environment open source tools used in Data Science
* Show how to perform arithemtic in Jupyter Notebook

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. Scikit-learn

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Luis Magay